<%- include ('./partials/header.ejs') -%>
    <div class="table-wrapper">
        <% { %>    
        <br><br>
        <h1 class="text-center">Welcome to Erin Cameron's site</h1>
        <br><br>
        <p class="text-center">Please click <a href="/addresume" >here</a> to Add a Resume item, and <a href="/addportfolio" >here</a> to add a Portfolio Project.</p>
        <% } %>
    </div>
</div>
</body>
</html>