<%- include ('./partials/login-header.ejs') -%>
    <div class="table-wrapper">
        <h1 class="text-center">Admin Login</h1>
        <br><br><br>
        <form style="margin-left: 35%; margin-right: 35%;">
            <label for="username">Username:</label>
            <input type="text" class="form-control" name="username" id="username" placeholder="Username">
            <br>
            <label for="password">Password:</label>
            <input type="text" class="form-control" name="password" id="password" placeholder="Password">
            <br><br><button type="submit" class="btn btn-success float-right">Login</button>
        </form>
    </div>
    </div>
    </body>
    </html>